{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col items-center justify-center" style="background-color: #E4E4E4;">

    <div class="w-full mx-auto text-center">
        <h1 class="text-3xl font-bold mb-4 mt-8">Your Resume</h1>
        {% if resume %}
        <div class="row w-full mx-auto items-center justify-center">
            <div class="col-lg-2 mb-2 p-2">
                <div class="card" style="width: 450px; height: 350px; border: 1px solid gray;">
                    <div class="card-body">
                        <img src="{{ resume.file.url }}" class="card-img-top" alt="..."/>
                        <div class="pt-5">
                            <a class="btn btn-warning" href="{{ resume.file.url }}" target="_blank">Show your Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        {% else %}
            <p class="mt-4">No resume uploaded yet.</p>
        {% endif %}
    </div>

    <div class="button pt-5 mt-3">
        <a href="{% url 'upload_resume' %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload Resume</a>
    </div>
</div>
{% endblock %}
