
{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col items-center justify-center" style="background-color: #E4E4E4;">

    <div class="w-full mx-auto text-center">
        <h1 class="text-3xl font-bold mb-4 mt-8">Your Resume</h1>
        {% if resume %}
            <p>{{ resume.file.name }}</p>
            <p><a href="{{ resume.file.url }}" target="_blank">Download Resume</a></p>
        {% else %}
            <p class="mt-4">No resume uploaded yet.</p>
        {% endif %}
    </div>

    <div class="button mt-3">
        <a href="{% url 'upload_resume' %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload Resume</a>
    </div>
</div>
{% endblock %}
