{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-5 pt-2" style="width: 30%; height: 20%;">
      <img src="{{ post.image.url }}" class="card-img-top" alt="..." style="width: 280px; height: 300px; margin-left: 180px"/>      
    </div>
    <div class="col-lg-5 mt-2 g-3">
      <img src="{{ post.image.url }}" alt="image" style="width: 100px; height: 100px; padding-top: 10px;">
      <h1 class="card-title">Project name : {{ post.title }}</h1>
      <p class="card-text">Description : {{ post.description|truncatewords:15 }}</p>
      <p class="card-text">Technology Used : {{ post.technologies_used }}</p>
      <p class="card-text">Project URL : <a href="{{ post.project_url }}" target="_blank">{{ post.project_url }}</a></p>
      <p> {% for cat in post.category.all %}
          <button class="btn btn-warning btn-sm m-2" disabled>
              {{ cat.name }}
          </button>
          {% endfor %}
      </p>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Reviews : {{ comments | length }}</h5>
    {% for comment in comments %}
    <div class="card-body border m-2">
      <p><b>{{ comment.name }}</b> {{ comment.created_on }}</p>
      <p>{{ comment.body }}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
      <form method="post">
        <h1>Add Reviews</h1>
        {% csrf_token %}
        {{ comment_form | crispy }}
        <button class="btn btn-warning">Submit</button>
      </form>
    </div>
</div>
{% endblock %}
