
<div class="w-screen px-10" style="background-color: #FBF8F8; height: 500px;">
    <div class="rounded-3xl flex flex-col items-center pt-20 mb-3">
      <h1 class="pt-4">SO WHAT IS NEXT?</h1>
      <h1 class="font-bold text-6xl my-3">Are You Ready? Let's Get</h1>
      <h1 class="font-bold text-6xl">To Work!</h1>
  
      <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
      <p class="text-center">et dolore magna aliqua..</p>
  
      <div class="pt-3">
        <button class="btn btn-danger text-white hover-bg-black">Contact me</button>
      </div>
    </div>
  </div>