<div class="container d-flex pt-4">
    <div class="col-md-3">
      <img src="/static/footer.png" style="height: 100px; border-radius: 100%;"/>
      <div class=" col-md-8 pt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="icon d-flex">
        <ul class="d-flex pt-3">
          <li class="mx-3">
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fab fa-linkedin mr-2"></i></a>
            <a href="https://github.com/Raselsarker2023"><i class="fa-brands fa-whatsapp mr-2"></i></a>
            <a href="https://www.facebook.com/mdrasel.sarker.7773631/photos"><i class="fa-brands fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fa-brands fa-twitter mr-2"></i></a>
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fa-brands fa-instagram mr-2"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 ml-4">
      <h1 class="text-4xl font-bold" style="text-decoration: underline;">Information</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
            <a class="nav-link active" aria-current="page" href="{% url 'view_blogs' %}">View Blogs</a>
            <a class="nav-link active" aria-current="page" href="{% url 'view_resume' %}">View Resume/CV</a>
            <a class="nav-link active" aria-current="page" href="{% url 'view_pic' %}">View profile</a>
            <a class="nav-link active" aria-current="page" href="https://portfoliosite-b78f.onrender.com">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
    

    <div class="col-md-3">
      <h1 class="text-4xl font-bold text-black" style="text-decoration: underline;">Quick Links</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'contact_form' %}">Contact Us</a>
            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Signin</a>
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <h1 class="text-4xl font-bold text-black" style="text-decoration: underline;">Contact</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-house mr-2"></i>Gaibandha Sadar,Gaibandha</a>
            <a class="nav-link active" aria-current="page"><i class="fa-regular fa-envelope mr-2"></i>raselsarkercse@gmail.com</a>
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-phone mr-2"></i>+880 1581528651</a>
            <a class="nav-link active" aria-current="page"><i class="fa-solid fa-phone mr-2"></i>+880 1332721933</a>
          </li>
        </ul>
      </div>
    </div>
  </div>