<div class="container d-flex pt-4">
    <div class="col-md-3">
      <img src="/static/footer.png" style="height: 100px; border-radius: 100%;"/>
      {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> {% endcomment %}
      <div class="icon d-flex">
        <ul class="d-flex pt-3">
          <li class="mx-3">
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fab fa-linkedin mr-2"></i></a>
            <a href="https://github.com/Raselsarker2023"><i class="fa-brands fa-whatsapp mr-2"></i></a>
            <a href="https://www.facebook.com/mdrasel.sarker.7773631/photos"><i class="fa-brands fa-facebook mr-2"></i></a>
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fa-brands fa-twitter mr-2"></i></a>
            <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fa-brands fa-instagram mr-2"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 ml-4">
      <h1>Explore</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">services</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <h1>Quick Links</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <h1>Get in Touch</h1>
      <div class="section pt-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>