{% extends 'base.html' %} {% load static %} {% block content %}
<div class="w-screen bg-gray-500 h-screen px-10">

  
  <div class="rounded-3xl flex w-full mt-3 h-screen" style="background-color: #22063d">
    <div class="w-full text-center h-screen flex items-center justify-center">
      <img class="" src="{% static 'logo.png' %}" />
    </div>
    <div
      class="flex rounded-3xl flex-col w-full h-full justify-center items-start pt-12 pb-24 px-6 bg-white bg-opacity-70"
    >
      <h1 class="font-bold text-4xl my-4">Welcome to My Portfolio</h1>
      <p class="leading-normal mb-4">
        This is My Portfolio where you can deposit money, borrow books, return
        books. You can also create an account, log in, and log out. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Sed nemo quaerat quo dicta,
        adipisci eum fuga ratione id numquam eius veniam placeat voluptatum,
        itaque tempora molestias vel, blanditiis fugiat ipsam!
      </p>
      <div class="pt-3 p-3">
        <h1 class="w-full">Skills:</h1>
        <div class="flex flex-wrap gap-2 mt-4">
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Python</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Django</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Bootstrap</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Tailwind</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >C/C++</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Data-structure</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Python</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >Algorithm</a
          >
          <a
            href="#"
            class="bg-blue-900 text-white rounded hover:bg-dark hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
            >JavaScript</a
          >
        </div>
      </div>

      <div class="container flex flex-wrap pt-3 p-3 items-center">
        <ul class="container flex flex-wrap pt-3 p-3 items-center">
          <li class="mx-3">
            <a
              class="btn btn-primary text-white"
              href="https://portfoliosite-b78f.onrender.com"
            >
              <i class="fas fa-satellite-dish mr-2"></i>Live Site
            </a>
          </li>

          <li class="mx-3">
            <a
              class="btn btn-dark text-white"
              href="https://github.com/Raselsarker2023"
            >
              <i class="fab fa-github mr-2"></i>Github
            </a>
          </li>

          <li class="mx-3">
            <a
              class="btn btn-dark text-white"
              href="https://www.linkedin.com/in/rasel-sarker-405160227/"
            >
              <i class="fab fa-linkedin mr-2"></i>Linkedin
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="d-flex flex-wrap p-3 pt-4">
  <div class="col-2 bg-white p-3">
    <h5 class="text-2xl" style="font-weight: bold;">All Categories Projects</h5>
    {% for cat in category %}
    <div class="mb-2 pt-2">
      <a
        href="{% url 'category_wise_project' cat.slug %}"
        class="btn btn-info btn-sm text-dark">
        {{ cat.name }}
      </a>
    </div>
    {% endfor %}
  </div>
  
  <div class="col-10 p-3" style="background-color: #E4E6F1;">
    <div class="d-flex mx-auto">
      <h1 class="text-2xl mb-4" style="font-weight: bold;">Total projects: {{ data | length }}</h1>
      <div class="mx-48"></div> 
      <h1 class="text-4xl" style="font-weight: bold;">My all Projects</h1>
    </div>
  
    <div class="d-flex flex-wrap pt-4" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      {% for d in data %}
      <div class="col-lg-3 mb-3 p-2">
        <div class="card" style="width: 300px; height: 350px; border: 1px solid gray;">
          <img src="{{ d.image.url }}" class="card-img-top" style="height: 150px; object-fit: cover;" alt="Project Image" />
          <div class="card-body">
            <h1 class="card-title btn btn-warning mb-3">{{ d.title }}</h1>
            <p class="card-text">{{ d.description|truncatewords:15 }}</p>
            <p class="card-text btn btn-danger btn-sm text-white">
              <a href="{% url 'detail_project' d.id %}" class="text-white">Details</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
