{% extends 'base.html' %} {% load static %} {% block content %}

<div class="w-screen h-screen px-10" style="background-color: #FBF8F8;">
  <div class="rounded-3xl flex flex-col items-center pt-24">
    <img class="" src="{% static 'Rasel.png' %}" style="height: 100px; border-radius: 100%;" />
    <h1 class="pt-4">Welcome to My Portfolio</h1>
    <h1 class="font-bold text-6xl my-3">Hi, I'm Rasel Sarker</h1>
    <h1 class="font-bold text-4xl text-danger">Web Developer.</h1>
    <p class="pt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
      <br class="justify-content-center"> 
      <span class="text-center">et dolore magna aliqua..</span>
    </p>
    
    <div class="icon pt-3">
      <ul class="flex flex-col items-center">
        <li class="mx-3">
          <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fab fa-linkedin mr-2"></i></a>
          <a href="https://github.com/Raselsarker2023"><i class="fab fa-whatsapp-square mr-2"></i></a>
          <a href="https://www.facebook.com/mdrasel.sarker.7773631/photos"><i class="fab fa-facebook mr-2"></i></a>
          <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fab fa-twitter mr-2"></i></a>
          <a href="https://www.linkedin.com/in/rasel-sarker-405160227/"><i class="fab fa-instagram mr-2"></i></a>
        </li>
      </ul>
    </div>
    <div class="pt-3">
      <button class="btn btn-danger text-white hover-bg-black">Contact me ></button>
    </div>
  </div>
</div>






<div class="d-flex flex-wrap p-3 pt-4">
  <div class="col-2 bg-white p-3">
    <h5 class="text-2xl" style="font-weight: bold;">All Categories Projects</h5>
    {% for cat in category %}
    <div class="mb-2 pt-2">
      <a
        href="{% url 'category_wise_project' cat.slug %}"
        class="btn btn-info btn-sm text-dark">
        {{ cat.name }}
      </a>
    </div>
    {% endfor %}
  </div>
  
  <div class="col-10 p-3" style="background-color: #E4E6F1;">
    <div class="d-flex mx-auto">
      <h1 class="text-2xl mb-4" style="font-weight: bold;">Total projects: {{ data | length }}</h1>
      <div class="mx-48"></div> 
      <h1 class="text-4xl" style="font-weight: bold;">My all Projects</h1>
    </div>
  
    <div class="d-flex flex-wrap pt-4" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      {% for d in data %}
      <div class="col-lg-3 mb-3 p-2">
        <div class="card" style="width: 300px; height: 350px; border: 1px solid gray;">
          <img src="{{ d.image.url }}" class="card-img-top" style="height: 150px; object-fit: cover;" alt="Project Image" />
          <div class="card-body">
            <h1 class="card-title btn btn-warning mb-3">{{ d.title }}</h1>
            <p class="card-text">{{ d.description|truncatewords:15 }}</p>
            <p class="card-text btn btn-danger btn-sm text-white">
              <a href="{% url 'detail_project' d.id %}" class="text-white">Details</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
